@font-face {
  font-family: 'Kongtext';
  src: url('../fonts/kongtext.ttf') format('truetype');
}

body {
  background-color: rgb(54, 79, 54);
  font-family: Kongtext;
  color: white;
}

.header {
  text-align: center;
}

img {
  width: 150px;
}

a {
  color: white;
  text-decoration: transparent;
}

.player-card {
  border: 1px solid black;
  width: 400px;
  text-align: center;
}

.battlefield {
  border: 1px solid black;
}

.enemy-card {
  border: 1px solid black;
  width: 400px;
  text-align: center;
}